.info{
  font-size: 18px;
  padding: 10px 0px 0px 10px;
}
.instructions, .todo{
  padding-left: 30px;
  padding-top: 10px;
}
.SingleSlider{
  width: 300px;
}
.controlbar{
  display: flex;
  align-items: flex-end;
  padding: 5px 55px 10px 55px;
  justify-content: space-between;
  margin: 0px 8px 0px 8px;
  border: 2px solid black;
  border-bottom: none;
}
.playControls{
  display:  flex;
  align-items: center;
  flex-direction: column;
}
.playbackControls{
  display:  flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}
.title{
  display:  flex;
}
h1 {
  margin: 10px 10px 0px 10px;

}
button {
  background-color: #ffffff;
  outline: none;
  border: none;
  font-size:  20px;
  text-align: center; 
}
.controlbar button{
  padding: 5px 0px 0px 0px;
}
img {
  max-width:  50px;
}
body{
  margin: 0;
  font-size: 20px;
}
input[type="text"]
{
  font-size:20px;
}
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
