
.SingleSlider{
  width: 200px;
}
.controlbar{
  display: flex;
  align-items: center;
  padding: 40px 0px;
  justify-content: space-between;
  margin: 0px 10px 0px 8px;
}
button {
  background-color: #ffffff;
  padding: 5px;
  outline: none;
  border: none;
}
img {
  max-width:  50px;
}
body{
  margin: 0;
}
/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
