.SingleSlider{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.SingleSlider input[type="range"]{
	display: block;
	height: 8px;
	width: 100%;
	margin: 0;
	-webkit-appearance: none;
	appearance: none;
	border: 2px solid black;
	background: #ffffff;
	outline: none;
	overflow: hidden;
}
.SingleSlider input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 3px;
	height: 100%;
	background: #000000;
	box-shadow: -780px 0 0 780px #000000;
}
.SingleSlider input[type="number"]{
  display: inline;
  border:  none;
  width: 25px;
  padding: 0;
}
.SingleSlider input[type="number"]:focus{
  outline: none;
}
.boxInput{
	display: flex;
	gap: 5px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}



