.Textbox {
  display: flex;
  align-items: flex-end;
  gap:  5px;
  padding-bottom: 5px;
}

.Textbox input {
  height: 25px;
  border: 2px solid black;
}

.Textbox button {
  height: 25px;
  color: white;
  background-color: black;
  border: none;
}